@import 'lxgw-wenkai-screen-webfont/style.css';

:root {
  /* 默认浅色模式 */
  --background-color: #ffffff;
  --text-color: #000000;
  --subtext-color: #6f6d6d;
  --main-text-color: #000000be;
  --button-bg-color: #f0f0f0;
  --countdown-progress-bg: #e6e6e6;
  --countdown-progress-fill: #0f6cbd;
  --countdown-end-color: #CB5364;
  --countdown-end-border-color: #A23238;
  --countdown-normal-color: #000000be;
  --countdown-normal-border-color: #7e7d7de0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* 暗色模式 */
    --background-color: #121212;
    --text-color: #ffffff;
    --subtext-color: #aaaaaae0;
    --main-text-color: #e0e0e0be;
    --button-bg-color: #2a2a2a;
    --countdown-progress-bg: #333333;
    --countdown-progress-fill: #4a90e2;
    --countdown-end-color: #e95a7c;
    --countdown-end-border-color: #bf3b4f;
    --countdown-normal-color: #ffffffcc;
    --countdown-normal-border-color: #aaaaaae0;
  }
}

body {
  font-family: 'LXGW WenKai Screen', sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  color: var(--text-color);
}

html {
  scrollbar-width: none;
}

#parent {
  display: table;
  width: 100%;
  height: 100%;
}

.subText {
  color: var(--subtext-color);
  font-weight: bold;
  font-size: 30px;
}

.mainText {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 32px;
}

#child {
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

.fixedButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

:where(.css-dev-only-do-not-override-1t40dvj).ant-picker-dropdown .ant-picker-time-panel-column {
  scrollbar-width: thin !important;
  scrollbar-color: #8b8b8b #fff !important;
}

:where(.css-dev-only-do-not-override-1t40dvj).ant-picker .ant-picker-input > input, :where(.css-dev-only-do-not-override-1t40dvj).ant-typography code {
  font-family: 'LXGW WenKai Screen', sans-serif;
}
